
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Montserrat:wght@300;700&display=swap');
*{
    margin: 0;
    font-family: Montserrat;
    padding: 0;
}
body{
    background-color: #0d3749;
}

html {
    scroll-behavior: smooth;
  }

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    gap: 45px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 0px 5px 0px #000000
}

nav{
    display: flex;
    width: 90%;
    align-items: center;
    border-radius: 8px ;
    overflow: hidden;
    padding: 20px 200px;
}

nav h1{
    font-weight: bold;
    font-size: 50px;
    color: #189AB4;

}

nav h1 span{
    color: white;
}

nav a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.links{
    display: flex;
    align-items: center;
    gap :20px;
    margin-left: 100px;
}

nav button{
    margin-left: auto;
    color: white;
    border: 2px solid #189AB4;
    border-radius: 10px;
    background-color: transparent;
    font-weight: bold;
    padding: 18px 10px;
}

.top img {
    margin-top: 100px;
    width: 12%;
    border-radius: 50%;
    box-shadow: 6px 4px 10px 0px #00000080;
}

.bio{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bio h1{
    color: #189AB4;
    font-size: 70px;
    font-weight: 400;
}

.bio p{
    color: white;
    font-size: 20px;
}

.discover{
    overflow: hidden;
    height: 90vh;
    width: 100%;
    background: rgb(109,145,153);
    background: -moz-linear-gradient(0deg, rgba(109,145,153,1) 0%, rgba(13,55,73,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(109,145,153,1) 0%, rgba(13,55,73,1) 100%);
    background: linear-gradient(0deg, rgba(109,145,153,1) 0%, rgba(13,55,73,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6d9199",endColorstr="#0d3749",GradientType=1);
    display: flex;
    gap: 40px;
    
}

.left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}



.left img{
    border-radius: 50%;
    width: 50%;
}


.scroll_down{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color :white;
    overflow:hidden;
    width:150px;
    height: 08vh;
    margin-right: auto;
    margin-top: auto;
    margin-left: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    
}


.scroll_down a{
    text-decoration: none;
    color: white;
}
.scroll_down img{
    width: 20%;
    margin-bottom: 100px;
}

button:hover{
    cursor: pointer;
}

.right{
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 60%;
}

.right h1{
    color: white;
 font-size: 20px;
 font-weight: 600;
}

.right h2{
    font-size: 30px;
    color: white;
}

.right p{
    width: 58%;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: white;
}

.infos {
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid white;
    overflow: hidden;
}

.cv{
    margin-top: 10px;
    width: 13%;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid white;
    background: transparent;
    font-weight: 600;
    color: white;
}
.right hr{
    
    margin-bottom: 20px;
}

hr{
    width: 13%;
}

.infos span{
    font-weight: bold;
}

.infos p{
    all: unset;
    color: white;
}

.section{
    width: 15%;
    margin-left: auto;
}

.section hr{
    width: 100%;
}

.section p{
    font-size: 25px;
}


.projects{
    width: 100%;
    height: 210vh;
    margin-top: -28px;
    padding: 50px 0px;
    background: #1C2326;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-radius: 30px 30px 0 0 ;
    overflow: hidden;
}

.section2{
    width: 10%;
    margin-left: auto;
}

.section2 hr{
    width: 100%;
}

.section2 p{
    color: white;
    font-size: 25px;
}

.h1{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
   width: 40%;
}

.pfe{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    width: 100%;
    height: 100%;
}

.pfe h1{
    color: white;
    font-weight: 600;
    font-size: 25px;

}
.pfe h1 hr{
    margin-top: 15px;
    width: 100%;
}

.images{
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    gap: 160px;
    
}

.images img{
    width: 8%;
    border: 4px solid white;
    border-radius: 25%;
    box-shadow: 6px 4px 10px 0px #00000080;

}

.pfe p{
    line-height: 35px;
    color: white;
    font-size: 23px;
    width: 65%;
    text-align: center;

}

.pfe p span{
    color: #189AB4;
    font-size: 20px;
    font-weight: bold;
}

.images2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.images2 img{
    width: 30%;
    
}

.socials{
    width: 100%;
    overflow: hidden;
    height: 15vh;
    background: rgb(109,145,153);
    background: -moz-linear-gradient(0deg, rgba(109,145,153,1) 0%, rgba(13,55,73,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(109,145,153,1) 0%, rgba(13,55,73,1) 100%);
    background: linear-gradient(0deg, rgba(109,145,153,1) 0%, rgba(13,55,73,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6d9199",endColorstr="#0d3749",GradientType=1);
    display: flex;
    gap: 20px;
    justify-content: center;
    border-radius: 30px 30px 0 0;
    align-items: center;
    margin-top: -28px;
    
}

.section3 {
    margin-top: 50px;
    width: 10%;
    margin-left: auto;
}

.section3 hr{
    width: 100%;
}

.section3 p{
    color: white;
    font-size: 25px;
}


.socials img{
    width: 100%;
}

.socials a{
    width: 3%;
}